{% extends 'base.html' %}

{% block content %}
<table id="tablaAssets" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Nombre</th>
      <th>Descipcion</th>
      <th>Tipo</th>
      <th>IP</th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<!--Modal ver-->
<div id="modalVer" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Asset: </h4>
      </div>

      <div class="modal-body">
        <form action="" method="POST">

          <input type="hidden" name="id" id="id" value="">

          <div class="form-group">
            <label>Cliente</label>

            <input type="text" class="form-control" name="cliente" id="cliente" value="" readonly>
          </div>

          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="" readonly>
          </div>

          <div class="form-group">
            <label>OS</label>
            <input type="text" class="form-control" name="os" id="os" value="" readonly>
          </div>

          <div class="form-group">
            <label>IP</label>
            <input type="text" class="form-control" name="ip" id="ip" value="" readonly>
          </div>

          <div class="form-group">
            <label>Hostname</label>
            <input type="text" class="form-control" name="hostname" id="hostname" value="" readonly>
          </div>

          <div class="form-group">
            <label>RAM</label>
            <input type="text" class="form-control" name="ram" id="ram" value="" readonly>
          </div>

          <div class="form-group">
            <label>CPU</label>
            <input type="text" class="form-control" name="cpu " id="cpu" value="" readonly>
          </div>

          <div class="form-group">
            <label>VGA</label>
            <input type="text" class="form-control" name="vga" id="vga" value="" readonly>
          </div>

          <div class="form-group">
            <label>Disco</label>
            <input type="text" class="form-control" name="disco" id="disco" value="" readonly>
          </div>

          <div class="form-group">
            <label>Descripción:</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion" value="" readonly>
          </div>

          <div class="form-group">
            <label>Tipo:</label><br>
            <input type="text" class="form-control" name="tipo" id="tipo" value="" readonly>
          </div>

          <div class="form-group">
            <label>Comentarios:</label>
            <input type="text" class="form-control" name="comentarios" id="comentarios" value="" readonly>
          </div>

          <div class="form-group">
            <label>Creado por:</label>
            <input type="text" class="form-control" name="creador" id="creador" value="" readonly>
          </div>

          <div class="form-group">
            <label>Creado:</label>
            <input type="text" class="form-control" name="creado" id="creado" value="" readonly>
          </div>

          <div class="form-group">
            <label>Modificado:</label>
            <input type="text" class="form-control" name="modificado" id="modificado" value="" readonly>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>

<!--Modal Edit-->
<div id="modalEditar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Asset: </h4>
      </div>

      <div class="modal-body">
        <form action="{{url_for('update_asset')}}" method="POST">

          <input type="hidden" name="id" id="id_edit" value="">

          <div class="form-group">
            <label>Cliente</label>

            <input type="text" class="form-control" name="cliente" id="cliente_edit" value="">
          </div>

          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre_edit" value="">
          </div>

          <div class="form-group">
            <label>OS</label>
            <input type="text" class="form-control" name="os" id="os_edit" value="">
          </div>

          <div class="form-group">
            <label>IP</label>
            <input type="text" class="form-control" name="ip" id="ip_edit" value="">
          </div>

          <div class="form-group">
            <label>Hostname</label>
            <input type="text" class="form-control" name="hostname" id="hostname_edit" value="">
          </div>

          <div class="form-group">
            <label>RAM</label>
            <input type="text" class="form-control" name="ram" id="ram_edit" value="">
          </div>

          <div class="form-group">
            <label>CPU</label>
            <input type="text" class="form-control" name="cpu " id="cpu_edit" value="">
          </div>

          <div class="form-group">
            <label>VGA</label>
            <input type="text" class="form-control" name="vga" id="vga_edit" value="">
          </div>

          <div class="form-group">
            <label>Disco</label>
            <input type="text" class="form-control" name="disco" id="disco_edit" value="">
          </div>

          <div class="form-group">
            <label>Descripción:</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion_edit" value="">
          </div>

          <div class="form-group">
            <label>Tipo:</label><br>
            <input type="text" class="form-control" name="tipo" id="tipo_edit" value="">
          </div>

          <div class="form-group">
            <label>Comentarios:</label>
            <input type="text" class="form-control" name="comentarios" id="comentarios_edit" value="">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Actualizar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}

<script>
  //Arma la tabla y muestra los datos
  $(document).ready(function () {
    var table = $('#tablaAssets').DataTable({
      ajax: '/api/asset',
      language: { "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-AR.json" },
      "pageLength": 50,
      columns: [
        { data: 'id' },
        { data: 'cliente' },
        { data: 'nombre' },
        { data: 'descripcion' },
        { data: 'tipo' },
        { data: 'ip' },
        {
          data: null,
          className: "dt-center editor-ver",
          defaultContent: '<i class="bi bi-search"/>',
          orderable: false
        },
        {
          data: null,
          className: "dt-center editor-edit",
          defaultContent: '<i class="bi bi-pencil-square"/>',
          orderable: false
        },
        {
          data: null,
          className: "dt-center editor-delete",
          defaultContent: '<i class="bi bi-x-square-fill"/>',
          orderable: false
        }

      ],

      //Muestra solo los que no estan eliminados
      rowCallback: function (row, data, index) {
        if (data['eliminado'] == 1) {
          $(row).hide();
        }
      }

    });

    //Modal Ver
    $('#tablaAssets tbody').on('click', 'td.editor-ver', function () {
      var data = table.row($(this).parents('tr')).data();

      $('#id').val(id = data['id']);
      $('#cliente').val(cliente = data['cliente']);
      $('#nombre').val(nombre = data['nombre']);
      $('#os').val(os = data['os']);
      $('#ip').val(ip = data['ip']);
      $('#hostname').val(hostname = data['hostname']);
      $('#ram').val(ram = data['ram']);
      $('#cpu').val(cpu = data['cpu']);
      $('#vga').val(vga = data['vga']);
      $('#disco').val(disco = data['disco']);
      $('#descripcion').val(descripcion = data['descripcion']);
      $('#tipo').val(tipo = data['tipo']);
      $('#comentarios').val(comentarios = data['comentarios']);
      $('#creador').val(creador = data['creador']);
      $('#creado').val(creado = data['creado']);
      $('#modificado').val(modificado = data['modificado']);

      $('#modalVer').modal('show');
    });

    //Modal editar
    $('#tablaAssets tbody').on('click', 'td.editor-edit', function () {
      var data = table.row($(this).parents('tr')).data();

      $('#id_edit').val(id = data['id']);
      $('#cliente_edit').val(cliente = data['cliente']);
      $('#nombre_edit').val(nombre = data['nombre']);
      $('#os_edit').val(os = data['os']);
      $('#ip_edit').val(ip = data['ip']);
      $('#hostname_edit').val(hostname = data['hostname']);
      $('#ram_edit').val(ram = data['ram']);
      $('#cpu_edit').val(cpu = data['cpu']);
      $('#vga_edit').val(vga = data['vga']);
      $('#disco_edit').val(disco = data['disco']);
      $('#descripcion_edit').val(descripcion = data['descripcion']);
      $('#tipo_edit').val(tipo = data['tipo']);
      $('#comentarios_edit').val(comentarios = data['comentarios']);

      $('#modalEditar').modal('show');
    });

    //Borrar asset
    $('#tablaAssets tbody').on('click', 'td.editor-delete', function () {
      var data = table.row($(this).parents('tr')).data();
      id = data['id']
      var respuesta = confirm("¿Seguro que desea borrar el asset: " + id + " ?");
      if (respuesta) {
        $.ajax({
          url: "/delete_asset/" + id + "/",
          type: "POST",
          success: function () {
            table.ajax.reload();
          }
        });

      };
    });


  });
</script>

{% endblock %}