{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron p-3">
                <h2><b>Asset Eliminados</b><br>
                    <a href="{{url_for('asset_page')}}" class="btn btn-outline-info"><i class="bi bi-arrow-left-square"></i> Regresar</a>
                </h2>
                <br>

                <table class="table" id="tablaAssets">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Tipo</th>
                            <th>IP</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    {% for data in asset %}
                    <tbody>
                        <tr>
                            {% if data.eliminar != 0 %}
                            <td>{{data.id}}</td>
                            <td>{{data.cliente}}</td>
                            <td>{{data.nombre}}</td>
                            <td>{{data.descripcion}}</td>
                            <td>{{data.tipo}}</td>
                            <td>{{data.ip}}</td>
                            <td>


                                <a href="/update_asset/{{data.id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                                    data-target="#modalver{{data.id}}" title="Ver"><i class="bi bi-search"></i></a>

                                <a href="/restore_asset/{{data.id}}" class="btn btn-info btn-xs"><i
                                        class="bi bi-arrow-counterclockwise" title="Restaurar"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    {% endif %}

                    <!--Modal ver-->
                    <div id="modalver{{data.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Asset: {{data.nombre}}</h4>
                                </div>

                                <div class="modal-body">
                                    <form action="" method="POST">

                                        <input type="hidden" name="id" value="{{data.id}}">

                                        <div class="form-group">
                                            <label>Cliente</label>

                                            <input type="text" class="form-control" name="cliente"
                                                value="{{data.cliente}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" name="nombre"
                                                value="{{data.nombre}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>OS</label>
                                            <input type="text" class="form-control" name="os" value="{{data.os}}"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>IP</label>
                                            <input type="text" class="form-control" name="ip" value="{{data.ip}}"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Hostname</label>
                                            <input type="text" class="form-control" name="hostname"
                                                value="{{data.hostname}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>RAM</label>
                                            <input type="text" class="form-control" name="ram" value="{{data.ram}}"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>CPU</label>
                                            <input type="text" class="form-control" name="cpu" value="{{data.cpu}}"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>VGA</label>
                                            <input type="text" class="form-control" name="vga" value="{{data.vga}}"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Disco</label>
                                            <input type="text" class="form-control" name="disco" value="{{data.disco}}"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Descripción:</label>
                                            <input type="text" class="form-control" name="descripcion"
                                                value="{{data.descripcion}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Tipo:</label><br>
                                            <input type="text" class="form-control" name="tipo" value="{{data.tipo}}"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Comentarios:</label>
                                            <input type="text" class="form-control" name="comentarios"
                                                value="{{data.comentarios}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Creado por:</label>
                                            <input type="text" class="form-control" name="creador"
                                                value="{{data.creador}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Creado:</label>
                                            <input type="text" class="form-control" name="creado"
                                                value="{{data.creado}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label>Modificado:</label>
                                            <input type="text" class="form-control" name="modificado"
                                                value="{{data.modificado}}" readonly>
                                        </div>

                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>


{% endblock %}

<!-- DataTable -->
{% block scripts %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#tablaAssets').DataTable({
            "searching": false,
            language: { "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-AR.json" },
            columns: [
                { data: 'ID', searchable: false },
                { data: 'Ciente', searchable: false },
                { data: 'Nombre', searchable: false },
                { data: 'Descripcion', searchable: false },
                { data: 'Tipo', searchable: false },
                { data: 'IP', searchable: false },
                { data: 'Acciones', orderable: false, searchable: false }

            ],
        });
    });
</script>
{% endblock %}