{% extends 'base.html' %}
{% block title %} Credentials {% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">

        <div class="modal-header">
            <h4 class="modal-title">Credential: {{data.nombre}}</h4>
            <a href="{{url_for('credentials_page')}}" class="btn btn-outline-info"><i class="bi bi-arrow-left-square"></i>
                Regresar</a>
        </div>

        <div class="modal-body">
            <input type="hidden" name="id" value="{{data.id}}">

            <div class="form-group">
                <label>Cliente</label>
                <input type="text" class="form-control" name="cliente" value="{{data.cliente.nombre}}" readonly>
            </div>

            <div class="form-group">
                <label>Asset</label>
                <input type="text" class="form-control" name="asset" value="{{data.asset.nombre}}" readonly>
            </div>

            <div class="form-group">
                <label>Tipo</label>
                <input type="text" class="form-control" name="tipo" value="{{data.tipo}}" readonly>
            </div>

            <div class="form-group">
                <label>Credential</label>
                <input type="text" class="form-control" name="nombre" value="{{data.nombre}}" readonly>
            </div>

            <div class="form-group">
                <label>Usuario</label>
                <input type="text" class="form-control" name="user" value="{{data.user}}" readonly>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="password" value="{{data.password}}" readonly>
            </div>

            <div class="form-group">
                <label>Comentarios</label>
                <input type="text" class="form-control" name="comentarios" value="{{data.comentarios}}" readonly>
            </div>

            <div class="form-group">
                <label>Creado por:</label>
                <input type="text" class="form-control" name="creador" value="{{data.creador}}" readonly>
            </div>

            <div class="form-group">
                <label>Creado:</label>
                <input type="text" class="form-control" name="creado" value="{{data.creado}}" readonly>
            </div>

            <div class="form-group">
                <label>Modificado:</label>
                <input type="text" class="form-control" name="modificado" value="{{data.modificado}}" readonly>
            </div>

        </div>

    </div>
</div>

{% endblock %}