{% extends "base.html" %}

{% block title %} 404 Page Not Found {% endblock %}
{% block content %}

    <div class="container-fluid">
        <br>
        <div id="content">
            <h1>404 Page Not Found</h1>
            <p>The page you requested was not found.</p>
        </div>
    </div>
</div>
{% block style %}
<style type="text/css">
    #content {
        border: #999 1px solid;
        padding: 20px 20px 12px 20px;
    }

    h1 {
        font-weight: normal;
        font-size: 14px;
        color: #990000;
        margin: 0 0 4px 0;
    }
</style>
{% endblock %}
{% endblock %}