{% extends 'base.html' %}
{% block title %} Asset Management {% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <form method="POST" class="form-signin">
                                {{ form.hidden_tag() }}
                                <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>

                                <div class="form-group">
                                    {{ form.email.label() }}
                                    {{ form.email(class="form-control", placeholder="Mail") }}
                                </div>

                                <div class="form-group">
                                    {{ form.password.label() }}
                                    {{ form.password(class="form-control", placeholder="Contraseña") }}
                                </div>

                                <div class="form-group">
                                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                                </div>

                                

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}